@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-view-profile {
  @apply bg-slate-600 text-white p-2 rounded-md hover:bg-slate-500 transition-all duration-300 text-sm font-bold
}
.btn-delete-profile {
  @apply bg-red-600 text-white p-2 rounded-md hover:bg-red-500 transition-all duration-300 text-sm font-bold
}
.btn-edit-profile {
  @apply bg-yellow-500 text-white p-2 rounded-md hover:bg-yellow-400 transition-all duration-300 text-sm font-bold
}